
.staff-card {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 12px;
    padding: 1.5rem;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;

    transition: 0.2s ease;
}

/* Slight shadow and pop-out effect on hover */
.staff-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px var(--color-accent);
}

.staff-card-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.staff-card-description {
    clear: right;
}
