/* Footer Base */
footer {
    background-color: var(--color-surface);
    color: var(--color-text2);
    padding: 40px 20px 20px;
    font-family: var(--font-family);
    line-height: 1.6;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

/* Section Layout */
.footer-contact,
.footer-legal,
.footer-information {
    flex: 1 1 250px;
}

/* Text */
footer h4 {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--color-secondary);
}

footer a {
    color: var(--color-text2);
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--color-primary-hover);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 6px;
}

.footer-contact p {
    margin: 6px 0 10px;
    color: var(--color-border);
}

.footer-bottom {
    flex: 1 1 100%;
    border-top: 1px solid var(--color-border);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 12px;
    color: var(--color-border);
}

/* Responsive Web Design, Yeah! */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .footer-contact,
    .footer-legal,
    .footer-information {
        width: 100%;
    }
}
