

:root {
    --font-family:'Helvetica Neue', Arial, sans-serif;

    /* Global Colour Variables */
    --color-primary: #BB86FC;
    --color-secondary: #3700B3;
    --color-accent: #CF6679;
    --color-background: #121212;
    --color-border: #9A67EA;
    --color-surface: #1E1E1E;
    --color-text: #E0E0E0;
    --color-link: #CF6679;
    --color-hover: #E0A7FF;

    --navbar-height: 90px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;

    display: flex;
    flex-direction: column;
}

/*home page images under this class*/
.image-stack {
    position: relative;
    width: 100%;
    height: 100vh;

}

/* home stack is under this class */
.stack-image {
    position: absolute;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

/* 1st layer image (background)*/
.img1 {
    top: 0;
    left: 0;
    z-index: 1;
}

/*2nd layer image (logo)*/
.img2 {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    z-index: 2;
}




main { 
    flex: 1;
}

a {
    color: var(--color-link);
    text-decoration: none;  /* Remove underline */
    font-weight: bold;

    transition: color 0.2s ease; /* Smooth transition to hover effect */
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline; /* Underline links when hovering */
}

