
/* Root Variables - Applied to whole page*/
:root {
    --font-family: Arial, Helvetica, sans-serif;

    /* Colour changed :) NR*/
    --color-primary: #5B3FA0;
    --color-primary-hover: #8b4558;
    --color-secondary: #8b7ba8;
    --color-background: #EFFBE0;
    --color-surface: #000000; 
    --color-border: #1a0f47;
    --color-text: #000000;
    --color-text2: #ffffff;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;


}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    color: var(--color-text);
    background: var(--color-background);

    display: flex;
    flex-direction: column;
}

main { 
    flex: 1;
}