

:root {
    --font-family:'Helvetica Neue', Arial, sans-serif;

    /* Global Colour Variables */
    --color-primary: #BB86FC;
    --color-secondary: #3700B3;
    --color-accent: #CF6679;
    --color-background: #121212;
    --color-border: #9A67EA;
    --color-surface: #1E1E1E;
    --color-text: #E0E0E0;
    --color-link: #CF6679;
    --color-hover: #E0A7FF;

    --navbar-height: 90px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;

    display: flex;
    flex-direction: column;
}

/*home page sections under this class*/
.image-stack {
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 60vh);  
    width: 100%;

}

/* home stack is under this class */
.img1, 
.img2 {
    grid-area: 1/1/1/1; 
}

/* 1st layer image (background)*/
.img1 {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    justify-self: center;
    align-self: start;
    z-index: 1;
}

/*2nd layer image (logo)*/
.img2 {

    width: 50%;
    max-width: 600px;
    min-width: 100px;
    height: auto;
    justify-self: center;
    align-self: center;
    z-index: 2;

    
}

.content-section {

    padding: 60px 20px 20px 20px;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.search-button {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: 3px solid var(--color-border);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: inline-block;
}



main { 
    flex: 1;
}

a {
    color: var(--color-link);
    text-decoration: none;  /* Remove underline */
    font-weight: bold;

    transition: color 0.2s ease; /* Smooth transition to hover effect */
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline; /* Underline links when hovering */
}

