

:root {
    --font-family:'Helvetica Neue', Arial, sans-serif;

    /* Global Colour Variables */
    --color-primary: #BB86FC;
    --color-secondary: #3700B3;
    --color-accent: #CF6679;
    --color-background: #121212;
    --color-border: #9A67EA;
    --color-surface: #1E1E1E;
    --color-text: #E0E0E0;
    --color-link: #CF6679;
    --color-hover: #E0A7FF;

    --navbar-height: 90px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;

    display: flex;
    flex-direction: column;
}

main { 
    flex: 1;
}

a {
    color: var(--color-link);
    text-decoration: none;  /* Remove underline */
    font-weight: bold;

    transition: color 0.2s ease; /* Smooth transition to hover effect */
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline; /* Underline links when hovering */
}

