
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 15px 40px;
  border-bottom: 8px solid var(--color-border);
}

.navbar img {
  width: 200px; 
  height: auto;
  flex-shrink: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}





@media(max-width: 800px){
  .navbar{
    padding: 10px 20px;
  }

  .navbar-links {
    flex-direction: column; /* Switch to column when page gets small enough */
    align-items: center;
    gap: 10px;
  }

  .navbar img {
    width: 50%; 
    height: auto;
  }
}
