
/* navbar class*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 15px 40px;
  border-bottom: 8px solid #000000 
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.15s;
}

.navbar-links a:hover {
  color: var(--color-primary-hover);
}

@media(max-width: 600px){
  .navbar{
    padding: 10px 20px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

}
