.search-control-box {
    /*made filter stay on left side of page - follows the user*/
    position: sticky;

    /*need to figure out how to make it so when at top of page the navbar and filter dont touch*/
    left: 10px;
    top: 90px;
    
    height: auto;
    /*max-height: 500px;*/

    flex-shrink: 0;



    background: var(--color-primary);
    color: var(--color-text2);
    border: 2px solid var(--color-secondary);
    border-radius: 15px;




    /*padding: 10px;*/
    padding: 5px;

    /*use flex to stack the fields nicely, like most car leasing websites*/
    display: flex;
    flex: 0 0 33%;
    max-width: 350px;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 6px var(--color-border);


    /*text colour*/
    color: var(--color-text2);
}

/*align the text and labels nicely*/
.search-control-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*labels style*/
.search-control-field label {
    color: var(--color-text2);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}

/*input and select style*/
.search-control-field input,
.search-control-field select {
    padding: 10px 12px;
    background: var(--color-secondary);
    color: var(--color-text2);
    border: 2px solid var(--color-border);
    border-radius: 3px;
    font-family: var(--font-family);
    font-size: 16px;

}

/*border colour*/
.search-control-field input:hover,
.search-control-field select:hover {
    border-color: var(--color-primary-hover);
}


/* shadow*/
.search-control-field input:focus,
.search-control-field select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(218, 21, 126, 0.1);
    
}

.search-results-class p{
    /* this is for the text inside of the search result boxes*/
    align-items: left;
}
.search-results-class img {
    /* this is for the image*/
    align-items: right;
    
}


.search-results-class {
    flex: 1 1 auto;
    
    /*scrolling*/
    overflow-y: auto;
    min-width: 0;
    overflow: auto;;
    padding: 100px 20px 20px 20px;
    
    display: grid;
    /*autofits to screen size*/
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 15px;
  
    /*move right side over so the image behind filter passes the right side of filter*/
    margin-left: 20px;

    background-color: var(--color-border);
}

.car-card {
    background: var(--color-primary);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: auto;

    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);
    /*make text white, make it so it removes link underline*/
    color: var(--color-text2);
    text-decoration: none;

    /*bordersss*/
    border: 2px solid var(--color-secondary);
}

.car-card img {
    width: 100%;
    max-height: 120px;
    flex: 0 0 auto;
    object-fit: contain;
    /*THIS DOES NOT WORK, maybe due to inline css usage but it shoudlnt be overwritten so idk, fixed NR v*/
    display: block;
}
.search-results-class div {
    display: flex;
}

/* make content align side by side by making the main a flex container*/
main {
    display: flex;
    /* -navbar height */
    height: calc(100vh - 80px);
    gap: 10px;
    

     /*set background to purple-backgroud.jpg and ensure it would fit to different screen sizes*/
    background: url('../assets/images/purple-background.jpg');
    background-repeat: repeat-y;
    background-size: auto auto;

    background-color: var(--color-border);


}

.page-layout {
    display: flex;
    /* subtract navbar height */
    height: calc(100vh - 80px); 
}


.range-container {
    position: relative;
    width: 91%;
    height: 40px;
    z-index: 0;

}

/* For both the sliders*/
.range-container input[type="range"] {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
    background: none;

    appearance: none;
    -webkit-appearance: none;
    height: 40px;  
    z-index: 3;

}


.slider-track {
    position: absolute;
    left: 20px;  /* Tracks need a 20px offset. However, the selected-track overwrites this with the percentage in the js*/
    right: 0px;
    top: 28px;
    height: 10px;
    border-radius: 5px;
    
}

#full-track {
    background: var(--color-error);
    z-index: 1; 
}

#selected-track {
    background: var(--color-warning);
    z-index: 2; 

}


/* Handles */
.range-container input[type="range"]::-webkit-slider-thumb {
    pointer-events: all; 
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-border);
    cursor: pointer;
    z-index: 1000; 
}

.range-container input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    background: var(--color-border);
    cursor: pointer;
    z-index: 1000; 
}
