.search-control-box {
    /*made filter stay on left side of page*/
    position: sticky;
    top: 0%;
    max-width: 33%;
min-width: 220px;
    overflow-y: auto;
    

    background: var(--color-surface); /*border*/
    border: 2px solid var(--color-border);
    border-radius: 12px;

    padding: 10px;

    /*use flex to stack the fields nicely, like most car leasing websites*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 6px var(--color-background);

    /*scroll filters if it is tall*/
    overflow-y: auto;
}

/*align the text and labels nicely*/
.search-control-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*labels style*/
.search-control-field label {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}

/*input and select style*/
.search-control-field input,
.search-control-field select {
    padding: 10px 12px;
    background: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-border);
    border-radius: 3px;
    font-family: var(--font-family);
    font-size: 16px;

}

/*border colour*/
.search-control-field input:hover,
.search-control-field select:hover {
    border-color: var(--color-primary-hover);
}


/* shadow*/
.search-control-field input:focus,
.search-control-field select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(218, 21, 126, 0.1);
    
}

.search-results-class p{
    /* this is for the text inside of the search result boxes*/
    align-items: left;
}
.search-results-class img {
    /* this is for the image*/
    align-items: right;
    
}


.search-results-class {
    flex: 1 1 67%;
    
    left: 33%;
    /*scrolling*/
    overflow-y: auto;
    min-width: 0;
    overflow: auto;;
    padding: 25px;

    background: url("../images/car-bg.jpg") center/cover no-repeat;

    
    display: grid;
    /*autofits to screen size*/
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    gap: 20px;
    background:url("..images/car-bg.jpg") center/cover no-repeat;
}

.car-card {
    background: var(--color-secondary);
    border-radius: 12px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 240px;

    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);
}

.car-card img {
    
    width: 100%;
    height: 130px;
    object-fit: contain;
    /*THIS DOES NOT WORK, maybe due to inline css usage but it shoudlnt be overwritten so idk, fixed NR v*/
    display: block;
}
.search-results-class div {
    display: flex;
}

.page-layout {
    display: flex;
    /* subtract navbar height */
    height: calc(100vh - 80px); 
}