.search-control-box {
    /*made filter stay on left side of page*/
    position: sticky;
    left: 10px;  /*Move on left of page*/
    top: 20px;
    width: 33%;
    min-width: 280px;
    height: 100vh;

    background: var(--color-surface); /*border*/
    border: 2px solid var(--color-border);
    border-radius: 12px;

    padding: 10px;

    /*use flex to stack the fields nicely, like most car leasing websites*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 6px var(--color-background);

    /*scroll filters if it is tall*/
    overflow-y: auto;
}

/*align the text and labels nicely*/
.search-control-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*labels style*/
.search-control-field label {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
}

/*input and select style*/
.search-control-field input,
.search-control-field select {
    padding: 10px 12px;
    background: var(--color-background);
    color: var(--color-text);
    border: 2px solid var(--color-border);
    border-radius: 3px;
    font-family: var(--font-family);
    font-size: 16px;

}

/*border colour*/
.search-control-field input:hover,
.search-control-field select:hover {
    border-color: var(--color-primary-hover);
}


/* shadow*/
.search-control-field input:focus,
.search-control-field select:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(218, 21, 126, 0.1);
    
}

.search-results-class p {
    /* this is for the text inside of the search result boxes*/
}
.search-results-class img {
    /* this is for the image*/
    align-items: right;
    
}


.results-section {
    width: 67%;
    height: 100vh;

    /*scrolling*/
    overflow-y: auto;
    padding: 25px;

    background: url("../images/car-bg.jpg") center/cover no-repeat;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /*autofits to screen size*/
    gap: 20px;
}