.car-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;

}

#carImg{
    width: 30vw;
    height: auto;
}
.car-card__car-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10vw; 
    flex: 2;
    background-color: var(--color-surface);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 4px solid var(--color-border);

}

.car-card__container {
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
    flex: 1;                  /* takes remaining space */
}


@media (max-width: 768px) {
  .car-card {
    flex-direction: column;
    align-items: center;
  }

  .car-card__container {
    width: 100%;
    margin-top: 20px;
  }
}